@font-face {
    font-family: inter;
    src: url(/font/Inter-Regular.ttf);
    font-weight: 100-900;

}
@font-face {
    font-family: inter-bold;
    src: url(font/Inter-Bold.ttf);
    font-weight: 100-900;
}

:root{
    --Color-Primary-Color:#FF7B54;
    --Color-Secondary-Color:#fff;
    --Colo-Primary-page:#FF7B54;
    --Color-Secondary-page:#fff;
    --Font:inter;
    --Color-Button:var(--Color-Secondary-Color);
}

h2,p{
    margin:0;
}


body{
    font-family: var(--Font);
}

.home-body{
     background-color:var(--Color-Primary-Color);
    color:var(--Color-Secondary-Color);
}

.speakers-body{
    background-color: var(--Color-Secondary-page);
    color: var(--Colo-Primary-page);
}

a{
    color:inherit;
    text-decoration: none;
}

.header{
    display: grid;
    grid-template-columns:1fr 3fr 2.2rem;
    padding: 0 60px;
    align-items: center;
}

.header__logo{
    font-size: 2.5rem;
    font-weight: 700;
}

.header__nav-ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    font-size: 1.1rem;
    padding-right: 2rem;
}

.main{
    padding: 150px;
}