@import url(/style/base.css);

.header__menu{
    display: none;
}

.main__heading{
    font-size: 120px;
    font-weight: 700;
}
.main_subheading{
    font-size: 40px;
}

.button{
    box-sizing: border-box;
    font-size:2rem ;
    margin-top: 100px;
    height: 100px;
    padding: 0 4rem;
    border: 4px solid var(--Color-Secondary-Color);
    font-weight: 600;
    background-color: var(--Color-Secondary-Color);
    color: var(--Color-Primary-Color);
    cursor: pointer;
    transition: outline .2s linear;
}

.button:not(.button:last-child){
    margin-right: 20px;

}

.button:last-child{
    background-color: var(--Color-Primary-Color);
    color:var(--Color-Secondary-Color)
}

.button:hover,.button:focus{
    outline: 4px solid var(--Color-Secondary-Color);
}

.arrow{
    vertical-align: middle;
    /* display: none; */
    /* opacity: 0; */
}

.button-wraper{
    display: flex;
    align-items: center;
}


@media all and (max-width:1200px) {

    .main__heading{
        font-size:75px;
    }

    .main{
        padding: 75px;
    }
}

@media all and (max-width:700px) {

    .main__heading{
        font-size:50px;
    }
    .main_subheading{
        font-size: 30px;
    }

    .button-wraper{
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: start;

    }

    .button{
        margin-top: 20px;
        padding:0 1rem;
        height: 4rem;
        font-size: 1rem;
    }

    .button img{
        width: 20px;
    }
}

@media all and (max-width:400px) {

    .header__logo{
        font-size: 20px;
    }
    .header__nav{
        display: none;
    } 
    .main__heading{
        font-size: 35px;
        margin-bottom: 30px;
    }

    .main_subheading{
        font-size: 20px;
        margin-top: 0px;
    }

      .button{
        margin-top: 20px;
        padding:0 .5rem;
        height: 3rem;
        font-size: .8rem;
    }

    .button img{
        width: 15px;
    }

    .header{
        width: 100%;
        display: grid;
        grid-template-columns: 33px 1fr 34px;
        padding: 25px;
        justify-items:center;
    }
    .main{
        padding: 50px;
        width: 100%;
    }

    .header__menu{
        display: block;
    }

    .header__nav{
        display: block;
        position: absolute;
    }

    .header__nav-ul{
    display: flex;
    flex-direction: column;

}

  #menu:checked ~ .header__logo {
   opacity: 0;
}
  #menu{
    display: none;
  }
  #menu:checked ~ .header__logo {
   opacity: 0;
}
}