@import url(/style/base.css);

.main_title{
  font-size: 98px;
}

.speaker_photo{
    width: 310px;
    height: 310px;
    object-fit: cover;
    object-position: top;
}

.speaker_name{
  font-size: 32px;
}

.speaker_com{
   font-size: 24px;
}

.company_bio{
  
  font-size: 20px;
}